<!-- ====================== NAVBAR ====================== -->

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-navbar ">
    <a class="navbar-brand" href="#">
        <img class="img-fluid" width="75" src="assets/images/logo-agility.svg" alt="" title="">
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'calendar'">Calendario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'results'">Risultati</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'virtualcup_results'">Virtual Cup</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'event_insert'">Segnala Evento</a>
            </li>
        </ul>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    
</nav>
